* {
  margin: 0;
  padding: 0;
  background-color: #EDF2FB;
}

/* NAVBAR */

nav ul {
  display: grid;
  grid-template-columns: 1fr 40vw repeat(3, 1fr);
}

nav ul li {
  margin: 0.5rem;
  align-self: center;
  justify-self: center;
  list-style: none;
}

.search {
  width: 90%;
  padding: 1rem;
  justify-self: start;
  background-color: #CCDBFD;
  border-radius: 40px;
  color: grey;
}

.fa-search {
  background-color: #CCDBFD;
}

.a {
  border-radius: 50%;
}

.here {
  color: white;
  background-color: #505C77;
  padding: 1rem;
  border-radius: 40px;
}

.here:hover {
  background-color: #2E3B59;
}

button .fa-lg {
  background-color: #E2EAFC;
  padding: 1rem;
  border-radius: 50%;
}

button {
  border: none;
}

button:hover i:hover {
  background-color: #B6CCFE;
}

/* IMAGENES */

.ilustraciones {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /*display: grid;
  grid-template-columns: repeat(auto-fill, 312px);
  grid-template-rows: repeat(3, 330px);*/
}
iframe {
  width: 300px;
}

.dibujito {
  margin: 0.5rem;
}

.digital {
  border-radius: 25px;
}

/*.gr1 {
    grid-row: 1;
  }
  .gr2 {
    grid-row: 1/3;
  }
  .gr3 {
    grid-row: 1;
  }
  .gr4 {
    grid-row: 1/3;
  }
  .gr5 {
    grid-row: 1;
  }
  .gr6 {
    grid-row: 2/4;
  }
  .gr7 {
    grid-row: 3/4;
  }
  .gr8 {
    grid-row: 2/4;
  }*/

/* CAMPANA TIME */

.campanada {
  background-color: #abc4ff;
  display: contents;
  position: absolute;
  left: 60vw;
  top: 4rem;
  border-radius: 2rem;
}

.insta {
  height: 500px;
  width: 330px;
  overflow: auto;
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
}

.camp {
  display: none;
}

/* INBOX / FORMULARIO */

.contactForm {
  background-color: #EDF2FB;
  display: contents;
  position: absolute;
  left: 65vw;
  top: 4rem;
  border-radius: 2rem;
}

.shu {
  background-color: #EDF2FB;
  padding: 5px;
  height: 500px;
  width: 330px;
  overflow: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

fieldset {
  background-color: #EDF2FB;
  margin: 1rem;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 1rem;
}

textarea {
  width: 250px;
  height: 150px;
  background-color: #abc4ff;
  padding: 4px;
}

input {
  background-color: #abc4ff;
  padding: 0.2rem;
}

.talk {
  display: none;
}

/* PERSOOOON // LINKS */

.yesLink {
  background-color: #EDF2FB;
  display: contents;
  position: absolute;
  left: 70vw;
  top: 4rem;
  border-radius: 2rem;
}

.link ul {
  list-style: none;
}

.shus {
  background-color: #EDF2FB;
  padding: 5px;
  height: 400px;
  width: 330px;
  overflow: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.link li {
  margin: 1rem;
}

.link li a {
  display: block;
  width: 200px;
  text-align: center;
  border-radius: 10px;
  background-color: #abc4ff;
  color: black;
  text-decoration: none;
  font-size: 2.5vh;
  padding: 0.75vh;
}

.link li a:hover {
  background-color: #CCDBFD;
  color: #404b63;
}

.noLink {
  display: none;
}

/* MEDIA QUERIES PARA RESPONSIVE-NESS(? ES ESO UNA PALABRA?
@media (min-width: 631px) {
  nav ul {
    display: grid;
    grid-template-columns: 1fr 40vw repeat(3, 1fr);
  }

  .search {
    width: 90%;
  }
}

@media (min-width: 1024px) {
  nav ul {
    display: grid;
    grid-template-columns: 1fr 70vw repeat(3, 1fr);
  }
}

@media (min-width: 1248px) {
  nav ul {
    display: grid;
    grid-template-columns: 1fr 80vw repeat(3, 1fr);
  }

  .ilustraciones {
    grid-template-rows: repeat(3, 330px);
  }
}*/